@use "../../variables.scss";

.cadastro_sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 30px;

    @media (max-width: 767px){
        height: auto;
        padding: 20px;
    }

    &_etapas{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        @media (max-width: 767px){
            flex-direction: row;
            gap: 10px;
        }

        &_etapa{
            border: 4px solid variables.$corPrincipal;
            color: variables.$corPrincipal;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4em;
            font-weight: bold;

            @media (max-width: 767px){
                width: 45px;
                height: 45px;
                font-size: 1.2em;
            }

            &--active{
                background-color: variables.$corPrincipal;
                color: white;
            }
        }
    }
}

.cadastro_form{
    background-color: white;
    border-radius: 40px 0 0 40px;
    padding: 50px;
    

    &_button{
        border: 0;
        width: 200px;
        height: 50px;
        border-radius: 15px;
        font-size: 20px;
        font-weight: bold;

        @media (max-width: 767px){
            width: 130px;
            font-size: 18px;
        }

        &_voltar{
            background-color: transparent;
            color: #333333;
        }

        &_avancar{
            background-color: variables.$corPrincipal;
        }
    }
}