@mixin active-link{
    background-color: white  !important;
    color: #397B57 !important;
}

.active{
    background-color: white  !important;
    color: #397B57 !important;
}

.navbar{
    background-color: #397B57;
    font-weight: 500;
    
    &_link{
        font-size: 18px !important;
        margin-right: 10px;
        border-radius: 10px;
        &:hover{
            @include active-link();
        }

        &_profile{
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
        }
    }
}