@use "../../variables.scss";

.carrinho_container{
    height: calc(100vh - 82.77px);
}

.carrinho{
    height: 100%;
}

.cashout{
    height: 100%;
    border-left: 1px solid gray;
}


.cashout_valores{
    margin-top: 20px;
    display: flex;
    gap: 15px;
    flex-direction: column;

    &_item{
        display: flex;
        flex-direction: column;

        &_titulo{
            font-weight: bold;

            &_total{
                font-size: 1.6em;
            }
        }

        &_desc{
            font-size: 1.2em;

            &_total{
                font-size: 1.8em;
                font-weight: bold;
            }
        }

    }
}

.cashout_pagamento{
    width: 100%;
    button{
        width: 100%;
        background-color: variables.$corPrincipal ;
        height: 50px;
        border: 0;
        border-radius: 10px;
        font-weight: bold;
        margin-top: 15px;
        transition: all ease-in 300ms;

        &:hover{
            filter: brightness(0.9);
        }
    }
}