:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1d1d1d;
  background-color: #E5EDDD;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{margin: 0; padding: 0;}